/* Hide "View the project on GitHub" link */
footer a[href*="github.com"] {
  display: none !important;
}

/* Hide the maintainer line */
footer p {
  display: none !important;
}



.page-content img.img-card {
  max-width: 320px;
  width: 100%;
  height: auto;
  display: block;
  margin: 1rem auto;
}


